*{
    margin: 0;
}
   body {
        background-image: url("/img/tierra.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

.center{
    text-align: center;
}
.letra {
    font-family: 'Times New Roman', Times, serif;
  }
  h1 {
    text-align: center;
  }
  nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #333;
}

nav ul li {
	display: inline-block;
	position: relative;
}

nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav ul li:hover {
	background-color: #444;
}

nav ul ul {
	display: none;
	position: absolute;
	top: 100%;
}

nav ul li:hover > ul {
	display: inherit;
}

nav ul ul li {
	position: relative;
}

nav ul ul ul {
	position: absolute;
	right: 100%;
	top:0;
}
 footer {
	background-color: #444;
	text-align: center;
	padding: 10px;
  }
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}
form {
	background-color: #d3be42;
	padding: 20px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	border-radius: 10px;
	max-width: 500px;
	width: 100%;
	text-align: center;
}
.contenedor {
	position: relative;
  }
  
  .superpuesto {
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(255, 255, 255, 0.8);
	padding: 10px;
	border-radius: 55px;
	text-align: center;
  }
  .contenedor-imagenes {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .contenedor-imagenes img {
	display: inline-block;
	width: 100%;
	height: auto;
	margin-right: 10px;
  }
  a:link {
	text-decoration: none;
	
 	}